.d-flex {
    display: flex;
    gap: 1rem;
}

/*Flex wrap*/
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-wrap-revert {
    flex-wrap: wrap-reverse;
}
/*Align item*/
.align-items-center {
    align-items: center;
}
.align-items-baseline {
    align-items: baseline;
}
.align-items-flex-start {
    align-items: flex-start;
}
.align-items-flex-end {
    align-items: flex-start;
}
/* Flex basis */
.flex-item-basis {
    flex-basis: 100px;
}

.flex-item-grow {
    flex-grow: 1;
}

.flex-item-shrink {
    flex-shrink: 0;
}