@import url('https://fonts.googleapis.com/css?family=Oswald:300,700');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    font-size: 16px;
}

body {
    color: #34517f;
    margin: 3em auto;
    text-align: center;
    background: linear-gradient(to left, #c2e59c , #64b3f4);
    font-weight: 300;
    font-size: 1em;
    line-height: 1.6;
}